openapi: 3.1.0
info:
  title: Debian Bug Tracking System Bugs Sources API
  description: The Debian BTS exposes per-bug machine-readable views via .mbox and structured URLs at bugs.debian.org. Bug reports can also be retrieved in JSON via various community endpoints. The historical SOAP API at bugs.debian.org/cgi-bin/soap.cgi is documented for reference.
  version: '1.0'
servers:
- url: https://bugs.debian.org
  description: Debian Bug Tracking System
tags:
- name: Sources
paths:
  /search/{query}:
    get:
      summary: Search source code
      operationId: searchSources
      tags:
      - Sources
      parameters:
      - in: path
        name: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Search results across Debian source packages.
  /list:
    get:
      summary: List all packages
      operationId: listPackages
      tags:
      - Sources
      responses:
        '200':
          description: A list of all source packages.
  /prefix/{prefix}:
    get:
      summary: List packages by prefix
      operationId: listPackagesByPrefix
      tags:
      - Sources
      parameters:
      - in: path
        name: prefix
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Packages whose name begins with the given prefix.
  /info/package/{package}/{version}:
    get:
      summary: Get package info
      operationId: getPackageInfo
      tags:
      - Sources
      parameters:
      - in: path
        name: package
        required: true
        schema:
          type: string
      - in: path
        name: version
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Metadata for a specific package version.
  /src/{package}/{version}/{path}:
    get:
      summary: Browse source tree
      operationId: getSourcePath
      tags:
      - Sources
      parameters:
      - in: path
        name: package
        required: true
        schema:
          type: string
      - in: path
        name: version
        required: true
        schema:
          type: string
      - in: path
        name: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Source-tree entry (file or directory listing).
  /sha256/:
    get:
      summary: Search by file checksum
      operationId: searchBySha256
      tags:
      - Sources
      parameters:
      - in: query
        name: checksum
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Files matching the SHA-256 checksum.
  /ctag/:
    get:
      summary: Search by ctag
      operationId: searchByCtag
      tags:
      - Sources
      parameters:
      - in: query
        name: ctag
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Source-tree entries matching the tag.
  /ping/:
    get:
      summary: Health check
      operationId: ping
      tags:
      - Sources
      responses:
        '200':
          description: OK
