openapi: 3.2.0
info:
  title: Debian Bugs API
  version: '1.0'
  description: 'Operations tagged Bugs across 2 of this provider''s published API definitions: debian-bts-api-openapi.yml, debian-udd-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://bugs.debian.org
  description: Debian Bug Tracking System
- url: https://udd.debian.org
  description: UDD web tools
tags:
- name: Bugs
paths:
  /{bugId}:
    get:
      summary: View a bug report
      operationId: getBug
      tags:
      - Bugs
      parameters:
      - in: path
        name: bugId
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: HTML and structured views of a bug report.
    servers:
    - url: https://bugs.debian.org
      description: Debian Bug Tracking System
  /cgi-bin/bugreport.cgi:
    get:
      summary: Bug report (mbox/text/HTML)
      operationId: getBugReport
      tags:
      - Bugs
      parameters:
      - in: query
        name: bug
        required: true
        schema:
          type: integer
      - in: query
        name: mbox
        schema:
          type: string
          enum:
          - 'yes'
      responses:
        '200':
          description: Bug report in the requested format.
    servers:
    - url: https://bugs.debian.org
      description: Debian Bug Tracking System
  /cgi-bin/pkgreport.cgi:
    get:
      summary: List bugs against a package
      operationId: getPackageBugs
      tags:
      - Bugs
      parameters:
      - in: query
        name: pkg
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of bugs against the package.
    servers:
    - url: https://bugs.debian.org
      description: Debian Bug Tracking System
  /bugs/:
    get:
      summary: Search Debian bugs (UDD)
      operationId: searchBugs
      tags:
      - Bugs
      responses:
        '200':
          description: Multi-criteria search across Debian bug data.
    servers:
    - url: https://udd.debian.org
      description: UDD web tools
x-refined-from:
- debian-bts-api-openapi.yml
- debian-udd-api-openapi.yml
